a,
a:link {
  font-family: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* modal */
.modalcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000401, #111101);
  overflow-y: initial !important
}


.modalcontainer:target {
  display: flex;
}

.modal {
  padding: 3% 5%;
  border-radius: .8rem;
  height: 80%;
  margin: 5% 25%;
  color: hsl(220, 50%, 90%);
  background: inherit;
  box-shadow: #243342, .4rem .4rem 10.2rem .2rem #4048bf4d;
  overflow-y: auto;
}

.projectnamecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link2 {
  border: 1px solid #ffffff33;
  border-radius: 100rem;
  color: var(--secondary-color);
  float: right;
  background-color: inherit;
  font-size: 2.2rem;
}

.link2::before {
  content: '×';
  animation: ease-out 1s;
  transform: translateX(100%)
}

.projectIcon {
  max-height: 5%;
  max-width: 10%;
  margin-right: 5%;
}

.link2:hover,
.link2:focus {
  background: var(--tertiary-color);
  border-color: var(--tertiary-color);
  transform: translateY(-.2rem);
}

.smallheading {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Futura';
}


.projectname {
  color: var(--secondary-color);
  font-size: 25px;
  font-family: "Futura";
  text-align: left;
}

.listitems {
  color: var(--tertiary-color);
  font-size: 15px;
  font-family: "Futura";
  text-align: left;
  max-width: none;
  list-style-type: circle;
  padding-bottom :3% ;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px var(--addon-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 1px var(--addon-color); 
}

.samelinecontainer {
  display: flex;
  align-items: center;
}

.labelstyle {
  color: var(--tertiary-color)
}