

.projectdetails {
    color: #948989;
    font-size: 18px;
    font-family: 'Futura';
}

.projectbutton {
 text-align: Left;
 padding-bottom: 4%;
 transition: transform .1s;
 width: fit-content;
}

.projectbutton:hover {
    transform: scale(1.1); 
  }

.projectname {
    color: #26b3b8;
    font-size: 22px;
    font-family: "Futura";
    text-align: left;
}