

.projectdetails {
    color: var(--tertiary-color);
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Futura';
}

.projectbutton {
 text-align: Left;
 transition: transform .1s;
 width: fit-content;
}
.header {
  max-height: 3.5rem;
}

.companyiconcontainer {
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.companyicon {
  max-width: 10%;
  max-height: 10%;
  margin-left: 5%;
}

.itemdetails {
    display: flex;
    flex-direction: column;
    padding: 3% 8% 6% 10%; 
  }
  
.projectbutton:hover {
    transform: scale(1.1); 
  }

.projectname {
    color: var(--secondary-color);
    font-size: 22px;
    font-family: "Futura";
    text-align: left;
}


@media only screen and (max-width: 430px) {
  .cardcontainer {
    margin-left: 0;
    margin-right: 0;
}
.projectname {
  font-size: 20px;
  font-weight: 400;
}
.projectdetails {
  font-size: 15px;
  font-weight: 400;
}
.companyicon {
  display: none;
}
}