.circlewrap {
    margin-top: 30px;
    width: 7rem;
    height: 7rem;
    background: var(--primary-color);
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 0px 1px 25px 1px rgba(95, 97, 4, .5);
    /* box-shadow: 0px 8px 15px rgba(95, 97, 4, .3) */
  }
  
  .circlewrap .circle .mask,
  .circlewrap .circle .fill {
    width: 7rem;
    height: 7rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circlewrap .circle .mask {
    clip: rect(0px, 7rem, 7rem, 3rem);
  }
  
  .circlewrap .insidecircle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: var(--primary-color);
    line-height: 6rem;
    text-align: center;
    margin-top: 8px;
    margin-left: 8px;
    color: var(--tertiary-color);
    position: absolute;
    z-index: 100;
    font-weight: 600;
    font-size: 1.5em;
  }
  
  .mask .fill {
    clip: rect(0px, 3rem, 7rem, 0px);
    background-color: var(--tertiary-color);
    opacity: .7;
  }


  @keyframes fill_animation{
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
  }

.text {
    left: 0;
    padding: 16px;
    color:var(--secondary-color);
    width: 100%;
    font-size: 18px;
}

.skillsmodalcontainer {
  text-align: center;
  margin-top: -5%;
  padding: 40px;
}

@media only screen and (max-width: 430px) { 
  .circlewrap {
    margin-top: 2rem;
    width: 5rem;
    height: 5rem;
  }
  
  .circlewrap .circle .mask,
  .circlewrap .circle .fill {
    width: 5rem;
    height: 5rem;
  }
  
  .circlewrap .circle .mask {
    clip: rect(0px, 5rem, 5rem, 2rem);
  }
  
  .circlewrap .insidecircle {
    width: 4.3rem;
    height: 4.3rem;
    line-height: 4.3rem;
    margin-top: .4rem;
    margin-left: .4rem;
    font-weight: 400;
    font-size: .8em;
  }
  
  .mask .fill {
    clip: rect(0px, 3rem, 5rem, 0px);
  }
  .text {
    padding: 16px 0px 16px 0px;
    font-size: 14px;
}
.skillsmodalcontainer {
  margin-top: -7%;
  padding: 0 35px;
}
  }
