.circlewrap {
    margin-top: 40px;
    width: 120px;
    height: 120px;
    background: #000000;
    border-radius: 50%;
    border: 1px solid transparent;
  }
  
  .circlewrap .circle .mask,
  .circlewrap .circle .fill {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circlewrap .circle .mask {
    clip: rect(0px, 120px, 120px, 50px);
  }
  
  .circlewrap .insidecircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #000000;
    line-height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    color: #c5c6c7;
    position: absolute;
    z-index: 100;
    font-weight: 600;
    font-size: 1.5em;
  }
  
  .mask .fill {
    clip: rect(0px, 50px, 120px, 0px);
    background-color: #a03c6e;
  }
/* 
  .mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
} */

  @keyframes fill_animation{
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
  }

.text {
    left: 0;
    padding: 16px;
    color:rgb(199, 196, 196);
    width: 100%;
    font-size: 18px;
}