
h3 {
    color: var(--secondary-color);
    font-size: 25px;
    font-family: 'Futura';
}


.container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3% 6% 1% 6%;
    column-gap: 2%;
    row-gap: 4rem; 
    justify-content: space-around;
  }


  .item {
    display: flex;
    width: 100%;
    height: max-content;
  }

  
  .maincontainer {
    height: 100vh;
  }

  
  @media only screen and (min-width: 1920px) {
    .maincontainer {
      max-width: 1920px;
      margin: auto
    }

  }

  
@media only screen and (max-width: 1050px) {
  .maincontainer {
    min-height: 100vh;
  }
  .container {
    grid-template-columns: 100%;
    row-gap: 3.5rem;
  }

}