.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 5% 8% 6% 8%;
    column-gap: 1.5%;
    row-gap: 10%;
  }


  .item {
    display: flex;
    width: 100%;
  }

  .item:hover {
    animation: item_animation ease-in-out 1s
  }

  @keyframes item_animation{
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-20deg);
    }
    70% {
      transform: rotate(20deg);
    }
    100% {
      transform: translateX(0deg);
    }
  }

  @media only screen and (min-width: 1920px) {
    .maincontainer {
      max-width: 1920px;
      margin: auto
    }
  
  
  }
 


@media only screen and (max-width: 1050px) {
  .container {
    margin: 6% 8% 6% 8%;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }

}


@media only screen and (max-width: 1050px) {
  .container {
    margin: 6% 8% 6% 8%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    row-gap: 20%;
  }

}


@media only screen and (max-width: 840px) {
  .maincontainer {
    margin: 12% 0% 0% 0%;
  }
}


@media only screen and (max-width: 741px) {
  .container {
    margin: 6% 8% 6% 8%;
    grid-template-columns: 50% 50%;
    row-gap: 10%;
  }

}



@media only screen and (max-width: 430px) { 
  .maincontainer {
    margin: 14% 1% 0% 0%;
    column-gap: 2%;
    height: 100%;
    }
    .container {
      margin: 7% 1% 0% 5%;
      height: 100%;
    }
    .item {
      max-width: 90%;
    }
  }
  

  @media only screen and (max-width: 330px) { 
    .maincontainer {
      margin: 16% 0% 0% 0%;
      column-gap: 2%;
      height: 100%;
      }
      .container {
        margin: 7% 7% 0% 0%;
        height: 100%;
        column-gap: 3%;
      }
      .item {
        max-width: 90%;
      }
    }
    
