.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 5% 8% 6% 8%;
    column-gap: 1.5%;
    row-gap: 10%;
    animation: skill_page_load ease-in-out 1s
  }

  @keyframes skill_page_load{
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .item {
    display: flex;
    width: 100%;
  }

  .item:hover {
    animation: item_animation ease-in-out 1s
  }

  @keyframes item_animation{
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-20deg);
    }
    70% {
      transform: rotate(20deg);
    }
    100% {
      transform: translateX(0deg);
    }
  }

  @media only screen and (min-width: 1920px) {
    .maincontainer {
      max-width: 1920px;
      margin: auto
    }
  
  
  }
 


@media only screen and (max-width: 1050px) {
  .container {
    margin: 10% 8% 6% 8%;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }

}