@media only screen and (min-width: 1920px) {
  .maincontainer {
    max-width: 1920px;
    margin: auto
  }


}

.container {
    display: grid;
    grid-template-columns: 7% 20% 20% 20% 20% 5%;
    margin-bottom: 6%;
    margin-top: 5%;
    column-gap: 1.5%;
    row-gap: 10%;
    animation: skill_page_load ease-in-out 1s
  }

  @keyframes skill_page_load{
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .item1 {
    grid-column: 2;
    display: flex;
    width: 100%;
  }

  .item2 {
    grid-column: 3;
    display: flex;
    width: 100%;
  }

  .item3 {
    grid-column: 4;
    display: flex;
    width: 100%;
  }

  .item4 {
    grid-column: 5;
    display: flex;
    width: 100%;
  }

  .item1:hover, .item2:hover, .item3:hover, .item4:hover {
    animation: item_animation ease-in-out 1s
  }

  @keyframes item_animation{
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-20deg);
    }
    70% {
      transform: rotate(20deg);
    }
    100% {
      transform: translateX(0deg);
    }
  }
