.container {
    min-height: 20rem;
    min-width: 20rem;
    max-width: 100rem;
    display: flex;
    padding: 8% 12% 8% 4%;
    flex-direction: row;
  }


.img {
    border-radius: 50%;
    max-width: 48%;
    min-width: 40%;
    align-items: center;
    margin-left: 8%;
    transition: transform .2s;
}

.img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

h2 {
    color: var(--secondary-color);
    font-size: 41px;
    font-family: 'Futura';
    max-height: 4.5rem;
}


p {
    color: var(--tertiary-color);
    font-size: 20px;
    font-family: 'Futura';
}

.detailcontainer {
display: flex;
flex-direction: column;
  }

  .buttoncontainer {
    display: flex;
    align-items: flex-end;
    gap: 1.2rem;
    padding-top: 2%;
  }

  .imagecontainer {
    max-width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
  }

.downloadbutton {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--addon-color);
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 16px;
  font-family: 'Futura';
  transition: transform .2s;
}

.downloadbutton:hover {
  transform: scale(1.1); 
}

@media only screen and (max-width: 1050px) {

h2 {
  color: var(--secondary-color);
  font-size: 31px;
  font-family: 'Futura';
  max-height: 100%;
}

.container {
  padding: 12% 12% 10% 4%;
}

.img {
  max-width: 60%;
}
}


@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    margin: auto
  }
}

@media only screen and (max-width: 705px) {
  .container {
    padding-left: 20%;
    flex-direction: column;
  }
  .img {
    max-width: 80%;
    margin-left: 50%;
}


}
