.container {
    width: 100%;
    height: 100vh;
    /* max-width: 100rem; */
    max-height: 35rem; 
    display: flex;
    padding: 8.5% 12% 8% 4%;
    flex-direction: row;
  }


.img {
    border-radius: 50%;
    max-width: 49%;
    min-width: 40%;
    align-items: center;
    margin-left: 8%;
    transition: transform .2s;
}

.img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

h2 {
    color: var(--secondary-color);
    font-size: 41px;
    font-family: 'Futura';
    max-height: 4.5rem;
}


p {
    color: var(--tertiary-color);
    font-size: 20px;
    font-family: 'Futura';
}

.detailcontainer {
display: flex;
flex-direction: column;
  }

  .buttoncontainer {
    display: flex;
    align-items: flex-end;
    gap: 1.2rem;
    padding-top: 2%;
  }

  .imagecontainer {
    max-width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
  }

.downloadbutton {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--addon-color);
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 16px;
  font-family: 'Futura';
  transition: transform .2s;
}

.downloadbutton:hover {
  transform: scale(1.1); 
}

@media only screen and (max-width: 1050px) {

h2 {
  color: var(--secondary-color);
  font-size: 31px;
  font-family: 'Futura';
  max-height: 100%;
}

.container {
  padding: 12% 12% 10% 4%;
}

.img {
  max-width: 60%;
}
}


@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 13rem 15rem 5rem 5rem !important;
    margin: auto;
  }
  .img {
    margin-top: 1.5rem;
    max-width: 40%;
  }
} 


@media only screen and (max-width: 1150px) { 
  .container {
    max-height: 30rem;;
  }
}

@media only screen and (max-width: 705px) { 
  .container {
    padding: 8% 6% 8% 14%;
    flex-direction: column;
  }
  .img {
    max-width: 90%;
    margin-left: 70%;
}
.detailcontainer {
  text-align: center;
}

.descriptionitem {
  text-align: justify !important;
  text-align-last: center;
  padding: 0 .5rem .3rem .5rem;
  text-align: left;
}
.buttoncontainer {
  padding-top: 5%;
  justify-content: center;
}

}

@media only screen and (max-width: 430px) { 
  .container {
    width: 100%;
    max-height: 35rem;
    padding: 20% 2% 0% 2%;
  }
  
  .imagecontainer {
    max-width: 100%;
  }
  .img {
    max-width: 55%;
    margin-left: 0%;
}

.detailcontainer {
  text-align: center;
}
.headingcontainer {
  margin-top: 2%;;
}
.descriptionitem {
  text-align: justify !important;
  text-align-last: center;
  padding: 0 .5rem .3rem .5rem;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
}
.buttoncontainer {
  padding-top: 5%;
  justify-content: center;
}
.downloadbutton {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
}
}

@media only screen and (max-width: 390px) { 
.downloadbutton {
  font-size: 12.5px;
}
}

@media only screen and (max-width: 320px) { 
  h2 {
    font-size: 25px;
    max-height: 5.5rem;
}
.descriptionitem {

  font-size: 15px;
}
  }