.container {
    display: grid;
    grid-template-columns: 13% 50% 25% 9%;
    margin-top: 11%;
    row-gap: 5%;
    justify-content: space-around;
    align-items: baseline;
    animation: education_page_load ease-in-out 1s;
    column-gap: 7%;
  }

  @media only screen and (min-width: 1920px) {
    .container {
      max-width: 1920px;
      margin: auto
    }
  }

.item1 {
    grid-column: 2;
    width: 100%;
    outline: none;
    height: 100%;
    grid-row: 1;
}

.item2 {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    outline: none;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-row: 2;
}

.item3 {
    grid-column: 2;
    width: 100%;
    height: 100%;
    grid-row: 3;
}

.item4 {
    grid-column: 3;
    width: 100%;
    height: 100%;
    grid-row: 2;
}

.item5 {
    grid-column: 3;
    width: 100%;
    height: 100%;
    grid-row: 3;
}

.item6 {
  grid-column: 2;
  width: 100%;
  height: 100%;
  align-items: center;
  grid-row: 4;
  margin-top: 6%;
}


@keyframes education_page_load{
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

.inputstyle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    outline: none;
    width: 46%;
    height: 30%;
    padding: 1%;
    border-bottom: 3px solid var(--addon-color);
    border-top: none;
    border-left: none;
    border-right: none;
    transition: transform 1s
}

.textareastyle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    outline: none;
    width: 99%;
    border-bottom: 3px solid var(--addon-color);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10%;
    transition: transform 1s
}

.inputstyle:focus {
  transform: scale(1.1);
  border-bottom: 3px solid var(--addon-color);
}
.textareastyle:focus {
  transform: scale(1.1);
  border-bottom: 3px solid var(--addon-color);
}

::-webkit-input-placeholder { /* Edge */
  color: var(--tertiary-color);
  font-size: 15px; 
}