
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000401;
  --secondary-color: #b3d4d4;
  --tertiary-color: #8D9797;
  --addon-color: #916f08;
  --container-grid-number: 3;
  --container-skill-grid-number: 4;
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), url(./assets/futura_medium_bt.ttf) format('truetype');
}

h3, p {
  font-family: 'Futura';
}