
* {
  box-sizing: border-box;
}

:root {
  --container-grid-number: 3;
  --container-skill-grid-number: 4;
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), url(./assets/futura_medium_bt.ttf) format('truetype');
}