
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000401;
  --secondary-color: #b3d4d4;
  --tertiary-color: #8D9797;
  --addon-color: #916f08;
    /* --primary-color: #e9e8cd;
  --secondary-color: #161515;
  --tertiary-color: #0f3b3d;
  --addon-color: #c4281d; */
  --gradient: linear-gradient(to left, #916f081a, #1e1e1eb3);
  /* --gradient: #fed9b7; */
}

@font-face {
  font-family: 'Futura';
  src: local('Futura'), url(./assets/futura_medium_bt.ttf) format('truetype');
}

h3, p {
  font-family: 'Futura';
}