
 .cardcontainer {
    transition: 0.3s;
    border-radius: 25px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    background: var(--gradient);
 }    

@media only screen and (max-width: 430px) {
    .cardcontainer {
      margin-left: 0;
      margin-right: 0;
  }
  }