.footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 4% 5% 2% 5%;
    margin: auto;
    box-shadow: inset 0px 7px 3px -3px rgba(95, 97, 4, .1);
}

@media only screen and (min-width: 1920px) {
    .footer {
      max-width: 1920px;
      margin: auto
    }
  }

.copyright {
    font-size: 13px;
}

.medialinkcontainer {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

@media only screen and (max-width: 430px) {
.footer  {
  flex-direction: column;
  align-items: center;
}
.copyright {
  font-size: 12px;
}

.medialinkcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}
}


/* @media only screen and (max-width: 350px) {
  .hamburger {
    left: 1rem;
  }
} */