
.hamburger {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  z-index: 1000;
}


.container {
  display: flex;
  padding: 10px 10px 20px 5px;
  height: 10%;
  font-size: 22px; 
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.line {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.displayhamburger {
    display: flex !important;
}
 

.medialink {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.item {
  transition: transform .2s;
}

.item:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

.navlinks {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
}

.closehamburger {
animation: movehamburger 1s forwards;
}

@keyframes movehamburger{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateY(90%) rotate(90deg);
  }
}


@media only screen and (max-width: 1050px) {
  .container {
    height: 100%;
    width: 100%;
    padding-left: 8%;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
    align-items: flex-start !important;
    z-index: 1;    
    top: 0;
    left: 0;
    display: none;
    margin-top: 0px !important;
    background-color: rgba(0,0,0,.9);
    box-shadow: 1px 1px 10px 1px rgb(32, 27, 4);
    overflow: auto;
    padding-top: 20%;
  }
  body {
    /* margin-left: 120px; */
    font-size: 17px; 
    padding: 16px 10px;
  }
  .navlinks {
    width: 90%;
    height: 30%;
    margin-top: 25%;
    flex-direction: column;
  }

  .hamburger {
    position: fixed;
    display: flex;
  }

  .medialink {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .item {
    transition: none !important;
  }
  .item:hover {
    transform: none !important; 
  }
  
  .copyright {
    text-align: center;
    font-size: 14px;
  }

  .slidemenumedialink {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/*bigger screen */
@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    margin: auto
  }
}

@media only screen and (max-width: 430px) {
  .container {
    margin-top: 30px;
    width: 100%;
}
.hamburger {
  left: 1rem;
}
}


@media only screen and (max-width: 350px) {
  .hamburger {
    left: 1rem;
  }
}